<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WordsLive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <WordsLive.Properties.Settings>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>620</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>530</value>
      </setting>
      <setting name="MainWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="EditorWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EditorWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EditorWindowWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="EditorWindowHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="EditorWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="SongListWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SongListWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SongListWindowWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="SongListWindowHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SongListWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="SongListSearchInText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SongListSearchExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SongsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="BackgroundsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ChooseBackgroundWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChooseBackgroundWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChooseBackgroundWindowWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ChooseBackgroundWindowHeight" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="ChooseBackgroundWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ChooseBackgroundPreviewWidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="PresentationTransition" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="PresentationAreas" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1,True,0,0,0,0</string>
            <string>0,False,0,0,800,600</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SongTemplateFile" serializeAs="String">
        <value>Standard.ppl</value>
      </setting>
      <setting name="SongSlideTransition" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="SongPresentationShowChords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditorEnableSpellCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImagesFinishAction" serializeAs="String">
        <value>Stop</value>
      </setting>
      <setting name="ImagesEnableAutoAdvance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImagesAutoAdvanceSeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ImageTransition" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="TemplateMasterEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TemplateMasterOverrideTextFormatting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TemplateMasterOverrideTextPosition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TemplateMasterOverrideSourceFormatting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TemplateMasterOverrideSourcePosition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TemplateMasterOverrideCopyrightFormatting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TemplateMasterOverrideCopyrightPosition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TemplateMasterOverrideOutlineShadow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseDataServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataServerAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="DataServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="EmbeddedServerEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmbeddedServerPort" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="EmbeddedServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="EmbeddedServerRedirectAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmbeddedServerEnableUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PresentationAreaSettingsWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PresentationAreaSettingsWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PresentationAreaSettingsWindowWidth" serializeAs="String">
        <value>375</value>
      </setting>
      <setting name="PresentationAreaSettingsWindowHeight" serializeAs="String">
        <value>375</value>
      </setting>
      <setting name="UseVlc" serializeAs="String">
        <value>True</value>
      </setting>
    </WordsLive.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Owin" publicKeyToken="f585506a2da1fef4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.0.0" newVersion="0.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>