<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="92.0.26" targetFramework="net46" />
  <package id="cef.redist.x86" version="92.0.26" targetFramework="net46" />
  <package id="CefSharp.Common" version="92.0.260" targetFramework="net46" />
  <package id="CefSharp.OffScreen" version="92.0.260" targetFramework="net46" />
  <package id="CefSharp.Wpf" version="98.1.210" targetFramework="net46" />
  <package id="DotNetZip" version="1.15.0" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="4.0.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net46" />
</packages>