<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<?define ProductName="WordsLive"?>
	<?define Manufacturer="WordsLive"?>
	<?define UpgradeCode="178f61e3-6be1-4081-9383-af3d34b29d08"?>
	
	<Product Id="*" Name="$(var.ProductName)" Language="!(loc.LANG)" Version="!(bind.FileVersion.MainApplicationExe)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />

		<PropertyRef Id="NETFRAMEWORK40CLIENT"/>

		<Condition Message="!(loc.NetFxErrorMessage)">
			<![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
		</Condition>

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

		<!-- ARP Support Oder wie konfiguriert man Add/Remove Programs mit dem Windows Installer
				Siehe auch http://msdn.microsoft.com/en-us/library/aa368032.aspx
		-->
		<Property Id="ARPHELPLINK" Value="http://www.wordslive.org" />
		<Property Id="ARPCONTACT" Value="WordsLive" />
		<Property Id="ARPCOMMENTS" Value="Worship Projection Software" />
		<Property Id="ARPURLINFOABOUT" Value="http://www.wordslive.org" />
		<Property Id="ARPPRODUCTICON" Value="Icon.ico" />

		<Feature Id="ProductFeature" ConfigurableDirectory="APPLICATIONFOLDER" Level="1">
			<ComponentGroupRef Id="MainAssemblies" />
			<ComponentGroupRef Id="ThirdPartyAssemblies" />
			<ComponentGroupRef Id="VlcDotNetAssemblies" />
			<ComponentGroupRef Id="PowerpointViewerLibComponents" />
			<ComponentGroupRef Id="AwesomiumComponents" />
			<ComponentGroupRef Id="DataComponents" />
			<ComponentGroupRef Id="I18n"/>
			<ComponentRef Id="StartMenuShortcutsFolder"/>
		</Feature>

		<Feature Id="VCRedistFeature" Title="Visual C++ 2010 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
			<MergeRef Id="VCRedist"/>
		</Feature>

		<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
		
		<UI>
			<UIRef Id="WixUI_InstallDirNoLicense" />
			<UIRef Id="WixUI_ErrorProgressText" />
		</UI>
		<WixVariable Id="WixUIBannerBmp" Value="$(var.WordsLive.ProjectDir)Artwork\InstallerBanner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.WordsLive.ProjectDir)Artwork\InstallerDialog.bmp" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="APPLICATIONFOLDER" Name="$(var.ProductName)">
					<Directory Id="DataFolder" Name="Data"/>
					<Directory Id="I18nDeFolder" Name="de"/>
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="StartMenuShortcutsFolder" Name="$(var.ProductName)">
					<Component Id="StartMenuShortcutsFolder" Guid="A2FEC1B6-FE5E-11E1-B4D2-FD4D6188709B">
						<RemoveFolder Id='StartMenuShortcutsFolder' On='uninstall' />
						<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
					</Component>
				</Directory>
			</Directory>
			<!-- Wird benötigt um den Desktop Shortcut anlegen zu können -->
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<Icon Id="Icon.ico" SourceFile="$(var.WordsLive.ProjectDir)Artwork\Icon.ico" />

		<DirectoryRef Id="APPLICATIONFOLDER">
			<Merge Id="VCRedist" SourceFile="$(var.ProjectDir)Microsoft_VC100_CRT_x86.msm" DiskId="1" Language="0"/>
		</DirectoryRef>
	</Product>

	<Fragment>
		<ComponentGroup Id="MainAssemblies" Directory="APPLICATIONFOLDER">
			<Component Id="MainComponent">
				<File Id="MainApplicationExe" Source="$(var.WordsLive.TargetDir)WordsLive.exe" Name="WordsLive.exe" KeyPath="yes" />
				<File Source="$(var.WordsLive.TargetDir)WordsLive.exe.config" Name="WordsLive.exe.config"/>
				<Shortcut Id="StartmenuApplicationShortcut" Directory="StartMenuShortcutsFolder" Name="$(var.ProductName)"
									WorkingDirectory='APPLICATIONFOLDER' Icon="Icon.ico" IconIndex="0" Advertise="yes" />
				<Shortcut Id="DesktopApplicationShortcut" Directory="DesktopFolder" Name="$(var.ProductName)"
					WorkingDirectory='APPLICATIONFOLDER' Icon="Icon.ico" IconIndex="0" Advertise="yes" />
			</Component>
			<Component Id="CoreDllComponent">
				<File Source="$(var.WordsLive.TargetDir)WordsLive.Core.dll" Name="WordsLive.Core.dll" KeyPath="yes" />
			</Component>
			<Component Id="ServerDllComponent">
				<File Source="$(var.WordsLive.TargetDir)WordsLive.Server.dll" Name="WordsLive.Server.dll" KeyPath="yes" />
			</Component>
			<Component Id="PresentationDllComponent">
				<File Source="$(var.WordsLive.TargetDir)WordsLive.Presentation.dll" Name="WordsLive.Presentation.dll" KeyPath="yes" />
			</Component>
			<Component Id="PresentationWpfDllComponent">
				<File Source="$(var.WordsLive.TargetDir)WordsLive.Presentation.Wpf.dll" Name="WordsLive.Presentation.Wpf.dll" KeyPath="yes" />
			</Component>
			<Component Id="SlideshowDllComponent">
				<File Source="$(var.WordsLive.TargetDir)WordsLive.Slideshow.dll" Name="WordsLive.Slideshow.dll" KeyPath="yes" />
			</Component>
			<Component Id="SlideshowImpressBridgeDllComponent">
				<File Source="$(var.WordsLive.TargetDir)WordsLive.Slideshow.Impress.Bridge.dll" Name="WordsLive.Slideshow.Impress.Bridge.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="ThirdPartyAssemblies" Directory="APPLICATIONFOLDER">
			<Component Id="IonicZipComponent">
				<File Source="$(var.WordsLive.TargetDir)Ionic.Zip.dll" Name="Ionic.Zip.dll" KeyPath="yes" />
			</Component>
			<Component Id="MonitoredUndoComponent">
				<File Source="$(var.WordsLive.TargetDir)MonitoredUndo.dll" Name="MonitoredUndo.dll" KeyPath="yes" />
			</Component>
			<Component Id="WpfToolkitComponent">
				<File Source="$(var.WordsLive.TargetDir)WPFToolkit.Extended.dll" Name="WPFToolkit.Extended.dll" KeyPath="yes" />
			</Component>
			<Component Id="NewtonsoftJsonComponent">
				<File Source="$(var.WordsLive.TargetDir)Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" KeyPath="yes" />
			</Component>
			<Component Id="FireflyComponent">
				<File Source="$(var.WordsLive.TargetDir)Firefly.dll" Name="Firefly.dll" KeyPath="yes" />
			</Component>
			<Component Id="OwinComponent">
				<File Source="$(var.WordsLive.TargetDir)Owin.dll" Name="Owin.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="VlcDotNetAssemblies" Directory="APPLICATIONFOLDER">
			<Component Id="VlcDotNetCoreComponent">
				<File Source="$(var.WordsLive.TargetDir)Vlc.DotNet.Core.dll" Name="Vlc.DotNet.Core.dll" KeyPath="yes" />
			</Component>
			<Component Id="VlcDotNetCoreInteropsComponent">
				<File Source="$(var.WordsLive.TargetDir)Vlc.DotNet.Core.Interops.dll" Name="Vlc.DotNet.Core.Interops.dll" KeyPath="yes" />
			</Component>
			<Component Id="VlcDotNetWpfComponent">
				<File Source="$(var.WordsLive.TargetDir)Vlc.DotNet.Wpf.dll" Name="Vlc.DotNet.Wpf.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="PowerpointViewerLibComponents" Directory="APPLICATIONFOLDER">
			<Component Id="PptviewlibDllComponent">
				<File Source="$(var.WordsLive.TargetDir)pptviewlib.dll" Name="pptviewlib.dll" KeyPath="yes" />
			</Component>
			<Component Id="PowerpointViewerLibDllComponent">
				<File Source="$(var.WordsLive.TargetDir)PowerpointViewerLib.dll" Name="PowerpointViewerLib.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="AwesomiumComponents" Directory="APPLICATIONFOLDER">
			<Component Id="AwesomiumDllComponent">
				<File Source="$(var.WordsLive.TargetDir)awesomium.dll" Name="awesomium.dll" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumExeComponent">
				<File Source="$(var.WordsLive.TargetDir)WordsLive.Awesomium.exe" Name="WordsLive.Awesomium.exe" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumCoreDllComponent">
				<File Source="$(var.WordsLive.TargetDir)Awesomium.Core.dll" Name="Awesomium.Core.dll" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumWindowsControlsDllComponent">
				<File Source="$(var.WordsLive.TargetDir)Awesomium.Windows.Controls.dll" Name="Awesomium.Windows.Controls.dll" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumIcuDllComponent">
				<File Source="$(var.WordsLive.TargetDir)icudt.dll" Name="icudt.dll" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumAvcodecDllComponent">
				<File Source="$(var.WordsLive.TargetDir)avcodec-53.dll" Name="avcodec-53.dll" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumAvformatDllComponent">
				<File Source="$(var.WordsLive.TargetDir)avformat-53.dll" Name="avformat-53.dll" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumAvutilDllComponent">
				<File Source="$(var.WordsLive.TargetDir)avutil-51.dll" Name="avutil-51.dll" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumLibEGLDllComponent">
				<File Source="$(var.WordsLive.TargetDir)libEGL.dll" Name="libEGL.dll" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumLibGLESDllComponent">
				<File Source="$(var.WordsLive.TargetDir)libGLESv2.dll" Name="libGLESv2.dll" KeyPath="yes" />
			</Component>
			<Component Id="AwesomiumXInputDllComponent">
				<File Source="$(var.WordsLive.TargetDir)xinput9_1_0.dll" Name="xinput9_1_0.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="DataComponents" Directory="DataFolder">
			<Component Id="SongTemplateComponent">
				<File Source="$(var.WordsLive.TargetDir)Data\Standard.ppl" Name="Standard.ppl" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="I18n">
			<Component Directory="I18nDeFolder">
				<File Source="$(var.WordsLive.TargetDir)de\WordsLive.resources.dll" Name="WordsLive.resources.dll" KeyPath="yes"/>
			</Component>
			<Component Directory="I18nDeFolder">
				<File Source="$(var.WordsLive.TargetDir)de\WordsLive.Slideshow.resources.dll" Name="WordsLive.Slideshow.resources.dll" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>